<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/play" routerLinkActive="active">Play</a>
          <a class="nav-item nav-link active" routerLink="/playerone" routerLinkActive="active">Player One Setup</a>
          <a class="nav-item nav-link" routerLink="/playertwo" routerLinkActive="active">Player Two Setup</a>
        </div>
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
